* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  position: relative;
}


#wrapper_root {
  max-width: 800px;
  min-width: 800px;
  min-height: 48vh;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

#root {
  display: flex;
}


.container {
  width: 200px;
  min-height: 300px;
  padding: 0 5px;
  position: absolute;
  top: 0;
  transition: left .25s ease-in-out;
}

img {
  width: 100%;
  margin-bottom: 5px;
}

p {
  font-size: .75em;
}

span {
  opacity: .65;
}


#btn_left,
#btn_right {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  top: 50%;
  cursor: pointer;
  z-index: 5;
  background: tomato;
  color: white;
  font-weight: bold;
  transition: all .4 linear;
}

#btn_left {
  left: 0;
  transform: translate(-15px, -15px);
}

#btn_right {
  right: 0;
  transform: translate(15px, -15px);
}

button:hover {
  background-color: whitesmoke;
}